<!DOCTYPE HTML>
<html>
    <head>
     <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
          
  
        <title> Home </title>
    </head>
    <body>
       <!--Import Google Icon Font-->

<nav class="light-blue lighten-3" role="navigation">
  <div class="nav-wrapper container">
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/register/">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/friends">Friends</a></li>

      <li><a href="/cards">Cards</a></li>
    </ul>
  </div>
</nav>
      
        
        {% if user.is_authenticated %}

        <p> WELCOME, thanks for logging in {{user.username}} </p>
      

        {% endif %}

    </body>
    
</html>

